* {
    margin: 0;
    padding: 0;
}

.body {
    background-color: #6B6D76;
    font-family: monospace;
}

header {
    background-color: #6B6D76;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header img {
    width: 400px;
}

.navbar-collapse {
    display: flex;
    justify-content: flex-end;
}

.navbar-collapse ul {
    gap: 50px;
}

.logo {
    width: 200px;
}

.ul-nav {
    list-style: none;
}

nav ul {
    display: flex;
    gap: 80px;
    cursor: pointer;
}

.links-nav {
    text-decoration: none;
    color: white;
    font-size: 19px;
}


/*INICIO*/

.imagen-dividida-padre {
    background-color: #A69888;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.imagen-dividida-padre img {
    width: 100%;
    height: 400px;
}

.contenedor-textos {
    padding: 50px;
}

.contenedor-textos p {
    font-size: 20px;
    color: black;
    height: 80%;
}

@media (min-width:992px) {
    .imagen-dividida-padre {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        padding: 20px 0 20px 0;
    }

    .imagen-dividida-padre img {
        width: 50%;
    }
}

/*GENERAL*/

p {
    font-size: 18px;
}

ul, ol {
    font-size: 20px;
}

.ol-text {
    list-style-type: decimal;
    padding-left: 30px;
}

ol ul {
    padding-left: 95px;
}

h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.titulo-listado {
    padding: 20px;
    margin-top: 50px;
}

/*FOOTER*/

.redes-sociales-padre {
    display: flex;
    gap: 5px;
    flex-direction: column;
   
}

.redes-sociales {
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
}

.redes-sociales-abuelo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: first baseline;
}

.redes-sociales p {
    font-size: 15px;
}

.redes-sociales img {
    cursor: pointer;
}

.ubicacion {
    margin: 10px 0 10px 0;
}

.copy {
    font-size: 15px;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding-left: 20px;
    padding-top: 20px;
}

@media (min-width: 768px) {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding-left: 20px;
        padding-top: 20px;
    }

    .redes-sociales-padre {
        display: flex;
        gap: 5px;
        justify-content: center;
    }

    .redes-sociales-padre div h4 {
        text-align: center;
    }

    .ubicacion h4 {
        text-align: center;
    }
}

@media (min-width:992px) {
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
        padding-left: 20px;
        padding-top: 20px;
    }

    .redes-sociales-padre {
        display: flex;
        gap: 5px;
        justify-content:flex-start;
    }

    .redes-sociales-padre div h4 {
        text-align:left;
    }

    .ubicacion h4 {
        text-align: left;
    }
}
/*NUESTROS TRABAJOS*/

h3 {
    padding-left: 20px;
    margin: 20px 0 20px 0;
}

.carousel-item img {
    height: 500px;
}

.img2 img {
    width: 350px;
}

.carousel {
    background-color: #A69888;
}
/*PLANTEL*/

.card-car {
    background-color: #A69888;
    margin: 20px;
    padding: 30px;
    width: 330px;
    height: 470px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

.card-car img {
    width: 300px;
    height: 300px;
}

.padre-card {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.img-copyright {
    font-size: 10px;
}

.img-copyright a {
    cursor: pointer;
}


/*ACERCA DE NOSOTROS*/

.imagen-dividida-padre-acerca-de-nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #A69888;
    padding: 0 0 20px 0;
    flex-direction: column;
}

.imagen-dividida-padre-acerca-de-nosotros img {
    width: 100%;
    height: 500px;
}

@media (min-width: 768px) {
    .imagen-dividida-padre-acerca-de-nosotros img {
        height: 550px;
    }
}

/*CONTACTO*/

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #A69888;
    width: 450px;
    text-align: center;
    padding-bottom: 20px;
    margin: 0px auto;
    padding-top: 20px;
}

.form {
    padding: 5px;
}

.casilla {
    width: 95%;
    border-radius: 5px;
}

.boton {
    gap: 5px;
    border-radius: 5px;
}
