.imagen-dividida-padre-acerca-de-nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #A69888;
    padding: 0 0 0 0;
    flex-direction: column;
    img {
        width: 100%;
        height: 500px;
    };
    .contenedor-textos {
        margin: 20px;
    }
}

@media (min-width: 768px) {
    .imagen-dividida-padre-acerca-de-nosotros {
        img {
            height: 550px;
        }
    }
}

@media (min-width: 992px) {
    .img-ptrb {
        width: 100%;
        height: 100%;
    }

    .imagen-dividida-padre-acerca-de-nosotros {
        flex-direction: row-reverse;
    }

    .parrafo {
        width: 500px;
    }
}